
html, body {
	font-size: 100%;
    height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	color: #333;
	background-color: white;
	font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	margin: 1.0rem 2.0rem 2.0rem 2.0rem;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

html { font-size: 100%; }
html, button, input, select, textarea { font-family: 'Roboto Condensed', sans-serif; }
figure, form, fieldset, legend, input, select, textarea, button { margin: 0; }

a {
  color: #3366CC;
  text-decoration: none;
}

a:hover {
  color: #EE403D;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover { outline: 0; }
pre { margin: 1em 0; }
ul + p, ul + pre, ol + p, ol + pre { margin-top: 0; }

small { font-size: 80%;  }
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) { overflow: hidden; }

hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  font-weight: 700;
  margin: 2.0rem 0 0 0;
  color: #19CBFB;
}

h1 { font-size: 2.0rem; margin-top: 0 }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.625rem; }
h4 { font-size: 1.25rem; }

dl, menu, ol, ul { margin: 1em 0; }
dd, ul ul, ol ol, ul ol, ol ul { margin: 0; }
dd { margin-bottom: 1em; }
menu, ol, ul { padding: 0 0 0 22px; }
nav ul, nav ol { list-style: none; list-style-image: none; }

blockquote {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 32px;
  line-height: 2rem;
  color: #434343;
  margin: 1em 0;
}

blockquote p {
  margin: 1em 0;
}

pre, code {
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 0.875rem;
	color: #000;
}

code { font-size: 1.0rem; font-weight: bold; }
pre code { font-weight: normal; }

a code {
  color: #3366CC;
}

a code:hover {
	color: #EE403D;
}

table {
  width: 100%;
  margin: 1em 0;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

table thead th,
table tfoot th {
  vertical-align: bottom;
  color: #333;
  font-weight: bold;
}

table caption {
  padding: 8px;
  font-weight: normal;
  font-style: normal;
  border-bottom: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

::-webkit-input-placeholder {
   font-size: 80%;
}

button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: normal;
  background-color: #FEFEFE;
  border: 1px solid #ccc;
  color: #111;
  min-width: 360px;
}

input.short {
    min-width: 200px;
}

input.long {
    min-width: 480px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=tel]:focus,
textarea:focus {
  background-color: #FFF;
  outline: none;
  border: 1px solid #4990fe;
}

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  box-sizing: border-box;
  line-height: normal;
  margin: 0;
  padding: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
  min-height: 90px;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  outline: none;
}

label, .form-label {
    display: inline-block;
    min-width: 100px;
    background-color: #666;
    color: white;
    padding: 4px;
}

.left { float: left; }
.right { float: right; }

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

b, strong {
  font-weight: 700;
}

dt,
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  font-weight: 500;
}

dt,
cite,
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  font-style: normal;
}


header {
	width: 100%;
	padding-bottom: 1.0rem;
	border-bottom: 1px solid #999;
    margin-bottom: 1.0rem;
}

header h3 {
    color: #999999;
    font-size: 2.0rem;
    font-weight: 700;
	margin-bottom: 0.25rem;
}

header p {
	margin: 0;
}

header a,
header a:visited {
    color: #999999;
}

main {
    display: flex;
    min-height: 800px;
	max-width: 64rem;
}

aside {
	max-width: 12rem;
	width: 100%;
	margin-top: 1.0rem;
	padding-right: 1.0rem;
	border-right: 1px solid #CCC;
	margin-right: 1.0rem;
}

article {
	width: 100%;
	margin: 1.0rem 2.0rem;
}

article p {
	max-width: 32rem;
}

.tip {
	float: left;
	margin-left: -2.5rem;
	margin-top: 0.5rem;
	font-size: 2.0rem;
}

.sidenote {
	display: inline-block;
	float: right;
	clear: right;
	margin: 0 -15rem 0 0;
	font-size: 0.85rem;
	vertical-align: baseline;
	position: relative;

	max-width: 11rem;
    width: 100%;

    code {
        font-size: 0.85rem;
    }
 }

@media (max-width: 64rem) {
	.sidenote { display: none; }
}

@media all and (max-width: 960px) {
}

article footer nav {
	margin: 4.0rem 0 0 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-top: 1px solid #CCC;
	padding-top: 1.0rem;
}

footer {
	margin-top: 2.0rem;
	margin-bottom: 5.0rem;
}

footer p {
	margin: 0.5rem 0;
}

@media all and (max-width: 640px) {
	aside {
		display: none;
	}

	article {
		margin: 1.0rem 0;
	}

	.tip {
		display: none;
	}
}

