<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title> {{ .Title }} | Working with Go </title>
	<link rel="stylesheet" media="screen" href="static/style.css" >
	<link rel="stylesheet" media="screen" href="static/prism.css" >

</head>
<body>

<header>
	<h3> Working with Go </h3>
	<p> Code examples for Golang </p>
</header>

<main>
	<aside>
		{{ range .Recent.Reverse }}
			<a href="/working-with-go{{ .Url }}">{{ .Title }}</a><br/>
		{{ end }}
	</aside>

	<article>

		{{ .Content }}

		<footer>
			<nav>
				<span class="prev">
					{{ if .PrevUrl }}
						<a href="/working-with-go{{ .PrevUrl }}"> &#171; {{ .PrevTitle }} </a>
					{{ end }}
				</span>
				<span class="next">
					{{ if .NextUrl }}
						<a href="/working-with-go{{ .NextUrl }}"> {{ .NextTitle }} &#187; </a>
					{{ end }}
				</span>
			</nav>

			{{ if .SourceFile }}
			<div style="margin-top: 5rem">
				Contribute: <a href="https://github.com/mkaz/working-with-go/blob/master/{{.SourceFile}}">source</a>
			</div>
			{{ end }}
			</nav>
		</footer>
	</article>
</main>

<footer>
	<p>An <a href="https://mkaz.blog/" rel="author">mkaz</a> production.</p>
</footer>

<script src="static/prism.js" type="text/javascript"></script>
</body>
</html>
